* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --azul-principal: #1e3a5f;
    --azul-claro: #2e5c8a;
    --blanco: #ffffff;
    --gris-claro: #ebebeb;
    --azul-secundario: #05294b;
}

.separador {
    width: 60%;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--azul-principal), transparent);
    margin: 0 auto;
}

section {
    padding: 80px 20px;
    scroll-margin-top: 70px;
}

section:nth-of-type(even) {
    background-color: var(--gris-claro);
}

h2{
    font-size: 2rem;
    color: var(--azul-principal);
}

a {
    color: white;
    text-decoration: none;
}

/* BOTON FLOTANTE */
.btn-flotante {
    font-size: 1.2rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--azul-secundario);
    color: white;
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    z-index: 1000;
    width: 400px;
    opacity: 0;
    transform: translateY(20px);
    animation: aparecer 0.6s ease-out forwards;
    text-align: center;
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}