.areas {
    text-align: center;
}

.areas h2 {
    color: var(--azul-principal);
    margin-bottom: 50px;
    font-size: 2rem;
}

/* GRID */
.areas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

/* TARJETA */
.area {
    background-color: white;
    padding: 30px 20px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-top: 3px solid transparent;
}

/* ICONO */
.area i {
    font-size: 2rem;
    color: var(--azul-principal);
    margin-bottom: 15px;
}

/* TEXTO */
.area p {
    font-size: 0.95rem;
    color: #374151;
    font-weight: 500;
}

/* HOVER */
.area:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-top: 3px solid var(--azul-principal);
}

